################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/ComicStreamerSharp.csprojResolveAssemblyReference.cache
/obj/Debug/ComicStreamerSharp.csproj.FileListAbsolute.txt
/obj/Debug/ComicStreamerLibTest.pdb
/obj/Debug/ComicStreamerLibTest.dll
/obj/Debug/ComicStreamerLibTest.csprojResolveAssemblyReference.cache
/obj/Debug/ComicStreamerLibTest.csproj.FileListAbsolute.txt
/obj/Debug/ComicStreamer.pdb
/obj/Debug/ComicStreamer.dll
/obj/Debug/ComicStreamer.csprojResolveAssemblyReference.cache
/obj/Debug/ComicStreamer.csproj.FileListAbsolute.txt
/bin/Debug/thumbnail.jpg
/bin/Debug/The_Fuse_23_(2016).cbz
/bin/Debug/RestSharp.xml
/bin/Debug/RestSharp.dll
/bin/Debug/output.jpg
/bin/Debug/Newtonsoft.Json.xml
/bin/Debug/Newtonsoft.Json.dll
/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
/bin/Debug/ComicStreamerLibTest.pdb
/bin/Debug/ComicStreamerLibTest.dll
/bin/Debug/ComicStreamer.pdb
/bin/Debug/ComicStreamer.dll
